BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  AfterNamespace: true
  AfterFunction: true
  SplitEmptyFunction: false
  BeforeElse: true

EmptyLineBeforeAccessModifier: LogicalBlock
IndentAccessModifiers: true
NamespaceIndentation: All
#PenaltyReturnTypeOnItsOwnLine: 10000